src/conf/xml-resources/web-service-references/Operaciones/wsdl/localhost_8080/ZCASAServidor/Operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ZCASAServidor/Operaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="listarProveedores">
<part name="parameters" element="tns:listarProveedores"/>
</message>
<message name="listarProveedoresResponse">
<part name="parameters" element="tns:listarProveedoresResponse"/>
</message>
<message name="crearProducto">
<part name="parameters" element="tns:crearProducto"/>
</message>
<message name="crearProductoResponse">
<part name="parameters" element="tns:crearProductoResponse"/>
</message>
<message name="listarClasificaciones">
<part name="parameters" element="tns:listarClasificaciones"/>
</message>
<message name="listarClasificacionesResponse">
<part name="parameters" element="tns:listarClasificacionesResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="crearClasificacion">
<part name="parameters" element="tns:crearClasificacion"/>
</message>
<message name="crearClasificacionResponse">
<part name="parameters" element="tns:crearClasificacionResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<message name="crearProveedor">
<part name="parameters" element="tns:crearProveedor"/>
</message>
<message name="crearProveedorResponse">
<part name="parameters" element="tns:crearProveedorResponse"/>
</message>
<portType name="Operaciones">
<operation name="listarProveedores">
<input wsam:Action="http://ws/Operaciones/listarProveedoresRequest" message="tns:listarProveedores"/>
<output wsam:Action="http://ws/Operaciones/listarProveedoresResponse" message="tns:listarProveedoresResponse"/>
</operation>
<operation name="crearProducto">
<input wsam:Action="http://ws/Operaciones/crearProductoRequest" message="tns:crearProducto"/>
<output wsam:Action="http://ws/Operaciones/crearProductoResponse" message="tns:crearProductoResponse"/>
</operation>
<operation name="listarClasificaciones">
<input wsam:Action="http://ws/Operaciones/listarClasificacionesRequest" message="tns:listarClasificaciones"/>
<output wsam:Action="http://ws/Operaciones/listarClasificacionesResponse" message="tns:listarClasificacionesResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/Operaciones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/Operaciones/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="crearClasificacion">
<input wsam:Action="http://ws/Operaciones/crearClasificacionRequest" message="tns:crearClasificacion"/>
<output wsam:Action="http://ws/Operaciones/crearClasificacionResponse" message="tns:crearClasificacionResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://ws/Operaciones/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://ws/Operaciones/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
<operation name="crearProveedor">
<input wsam:Action="http://ws/Operaciones/crearProveedorRequest" message="tns:crearProveedor"/>
<output wsam:Action="http://ws/Operaciones/crearProveedorResponse" message="tns:crearProveedorResponse"/>
</operation>
</portType>
<binding name="OperacionesPortBinding" type="tns:Operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClasificaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearClasificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operaciones">
<port name="OperacionesPort" binding="tns:OperacionesPortBinding">
<soap:address location="http://localhost:8080/ZCASAServidor/Operaciones"/>
</port>
</service>
</definitions>