src/conf/xml-resources/web-service-references/Operaciones/wsdl/localhost_8080/ZCASAServidor/Operaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="crearClasificacion" type="tns:crearClasificacion"/>

<xs:element name="crearClasificacionResponse" type="tns:crearClasificacionResponse"/>

<xs:element name="crearProducto" type="tns:crearProducto"/>

<xs:element name="crearProductoResponse" type="tns:crearProductoResponse"/>

<xs:element name="crearProveedor" type="tns:crearProveedor"/>

<xs:element name="crearProveedorResponse" type="tns:crearProveedorResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listarClasificaciones" type="tns:listarClasificaciones"/>

<xs:element name="listarClasificacionesResponse" type="tns:listarClasificacionesResponse"/>

<xs:element name="listarProductos" type="tns:listarProductos"/>

<xs:element name="listarProductosResponse" type="tns:listarProductosResponse"/>

<xs:element name="listarProveedores" type="tns:listarProveedores"/>

<xs:element name="listarProveedoresResponse" type="tns:listarProveedoresResponse"/>

<xs:complexType name="crearProducto">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="precioUnitario" type="xs:double"/>
<xs:element name="unidad" type="xs:string" minOccurs="0"/>
<xs:element name="idClasificacion" type="xs:int"/>
<xs:element name="idProveedor" type="xs:int"/>
<xs:element name="iva" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProveedor">
<xs:sequence>
<xs:element name="idProveedor" type="xs:int"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="moneda" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClasificaciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarClasificacionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:clasificacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacion">
<xs:sequence>
<xs:element name="grupo" type="xs:string" minOccurs="0"/>
<xs:element name="id_clasificacion" type="xs:int"/>
<xs:element name="productos" type="tns:producto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="id_clasificacion" type="xs:int"/>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="id_proveedor" type="xs:int"/>
<xs:element name="iva" type="xs:boolean"/>
<xs:element name="precio_unitario" type="xs:double"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="tipoclasificacion" type="tns:clasificacion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tipoproveedor" type="tns:proveedores" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proveedores">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id_proveedor" type="xs:int"/>
<xs:element name="moneda" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="productos" type="tns:producto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearClasificacion">
<xs:sequence>
<xs:element name="idClasificacion" type="xs:int"/>
<xs:element name="grupo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearClasificacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProveedores">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProveedoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:proveedores" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>